@import 'theme-a';
// @import 'theme-b';

body {
  font-family: $font;
  background: #f7f7f7;
  padding: 2rem;
}

.theme-box {
  background: $main-color;
  color: #ffffff;
  border-radius: $radius;
  box-shadow: $shadow;
  width: 300px;
  margin: 2rem auto;
  padding: 2rem 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s;
}
